<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom header">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4"><strong><span class='purple'>YanAirways</span></strong></span>
      <div class='text-right'>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-3 mb-md-0">
              <li><strong><button type="button" class="btn btn-outline-dark"><%= link_to "О компании", home_path, class: 'nav-link px-2' %></button></strong></li>
            <li><strong><button type="button" class="btn btn-outline-dark"><%= link_to "Услуги", service_path, class: 'nav-link px-2', id: 'signs' %></button></strong></li>
            <li><strong><button type="button" class="btn btn-outline-dark"><%= link_to "Отзывы", comm_path, class: 'nav-link px-2', id: 'revs' %></button></strong></li>
            <li><strong><button type="button" class="btn btn-outline-dark"><%= link_to "Контакты", contacts_path, class: 'nav-link px-2', data: {turbo: false} %></button></strong></li>
         <% if user_signed_in? %>
                  <li class="nav-item dropdown mr-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Аккаунт
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                      <li><%=link_to "Редактировать профиль",  edit_user_path(current_user), class: "dropdown-item btn", type: "button"%></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><%=link_to "Мои билеты", records_path(current_user), class: "dropdown-item btn", type: "button"%></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><%= button_to "Выйти", session_path, method: :delete, class: "dropdown-item btn btn-lg"%></li>
                      </ul>
            <% else %>
            <li><strong><button type="button" class="btn btn-outline-dark"><%= link_to "Войти", login_path, class: 'nav-link px-2' %></button></strong></li>
            <li><strong><button type="button" class="btn btn-outline-dark"><%= link_to "Зарегистрироваться", new_user_path, class: 'nav-link px-2' %></button></strong></li>
            <% end %>
        </ul>
         </div>
      </a>
    </header>